.css-1gu5j5z-MuiPaper-root-MuiCard-root{
    height: auto !important;
}
.css-14ys7yk-MuiContainer-root{
    width: 1200px !important;
    max-width: none !important;
}

.css-1oqqzyl-MuiContainer-root{
    margin: auto !important;

}
.css-n9cme5-MuiPaper-root-MuiCard-root{
    box-shadow: none !important;
}
.slick-slider{
    max-width: inherit;
    padding: 20px;
    .slick-arrow{
        cursor: pointer;
        background-color: #A6B0C3;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        top: 30% !important;
        transform: translateY(30%) !important;
    }
    .slick-prev{
        left: 1% !important;
        position: absolute;
        z-index: 1000;

    }
    .slick-next{
        right: 1% !important;
        position: absolute;
        z-index: 1000;
    }
   
    
}