.css-9tj150-MuiButton-endIcon>*:nth-of-type(1){
    font-size: 10px !important;
}
.css-15nrujg-MuiButtonBase-root-MuiButton-root{
    line-height: normal !important;
}
.css-eglki6-MuiLinearProgress-root{
    background-color: #EFF2F5!important;
}
.css-5xe99f-MuiLinearProgress-bar1{
    background-color:rgb(206,213,227) !important ;
}
