.css-18j94m9 {
    margin-top: 5px !important;
    border-radius: 5px !important;
    background-color: rgb(239,242,245) !important;
}
.css-v526sl-MuiPaper-root-MuiAppBar-root{
    background: transparent !important;
    margin: 24px 0 ;
    box-shadow: none !important;
}
.MuiBox-root css-0{
    margin-bottom:16px !important ;
}
.css-1qwoya7-MuiContainer-root{
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
                0px 4px 5px 0px rgb(0 0 0 / 14%), 
                0px 1px 10px 0px rgb(0 0 0 / 12%)
}
.css-1oqqzyl-MuiContainer-root{
    padding: 20px;
}

.css-mhc70k-MuiGrid-root{
    margin-left:-40px !important ;
}
.css-16ek469-MuiPaper-root{
    cursor: pointer;
}
.css-16ek469-MuiPaper-root:hover{
    background-color: #EFF2F5;
}